@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/SourceSansPro-Regular.ttf');
}

.root{
    -fx-font-family: "Source Sans Pro";
}

.combo-box {
    -fx-background-color: transparent;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box > .list-cell {
    -fx-alignment: center-left;
    -fx-text-fill: #243E90;
}

.label {
    -fx-padding: 14 0 14 15;
    -fx-font-size: 18pt;
    -fx-pref-width: 248;
}

.label:hover {
    -fx-background-color: #C6C8E2;
}

.text-field {
    -fx-background-color: transparent;
}
